= form_for @changeset, bio_path(@conn, :update, @bio), fn f ->
  .form-group
    = textarea f, :content, class: "form-control", rows: 4

    .preview

  .form-group
    = submit "Update bio", class: "btn btn-primary"
 - end
