= form_for @changeset, bio_path(@conn, :create), fn f ->
  .form-group
    = textarea f, :content, placeholder: "bio", class: "form-control", rows: 10

  .form-group
    = submit "Add bio", class: "btn btn-primary"

- end
