.row
  .col-xs-6.text-center
    %img(src="images/leh.jpg" width=400 height=400)
  .col-xs-5.bio
    <b>Lauren Hall's</b> work has appeared in <i>NANO Fiction</i>, <i>The Conium Review</i>, <i>The Rumpus</i>, <i>Cleaver</i>, <i>The Lascaux Review</i>, and others. She was awarded the William Carlos Williams Prize for Poetry at the University of Pennsylvania, where she received a Masters degree. She currently lives and writes in Boston, MA.
%p
  %h1.title.text-center
    About.
